.editButton {
  background: none;
  margin-left: 10px;
  cursor: pointer;
}

button.editButton {
  border: none;
  background-color: #0095f6;
  color: white;
  border-radius: 2px;
}


.hidden {
  display: none;
}
