.profile_page {
  background-color: orange;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
}

.profile_page .user_info_wrapper {
  flex: 0 0 150px;
  background-color: green;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile_page .user_info_wrapper .avatar_wrapper {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-color: yellow;
  overflow: hidden;
  margin-right: 30px;
}

.profile_page .user_info_wrapper .avatar_wrapper img {
  height: 100%;
  object-fit: fill;
}

.profile_page .user_info_wrapper .user_data_wrapper {
  flex: 0 0 300px;
  background-color: lime;
}
.profile_page .user_posts_wrapper {
  flex: 1 1 auto;
  background-color: grey;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;

  justify-items: center;
  align-items: center;
}

.postImage {
  height: 200px;
  width: 300px;
  border-radius: 5px;
}
